{% extends 'admin_base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('admin.static',filename='css/vacancies.css') }}">
{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ім'я користувача</th>
            <th scope="col">Пароль</th>
            <th scope="col">Ім'я</th>
            <th scope="col">Посада</th>
            <th scope="col">Email</th>
            <th scope="col">Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for el in data %}
        <tr>
            <th scope="row">{{ el.id }}</th>
            <td>{{ el.username }}</td>
            <td>{{ el.password|hide_password }}</td>
            <td>{{ el.name }}</td>
            <td>{{ el.job_title }}</td>
            <td>{{ el.email }}</td>
            <td>
                <div class="edit">
                    <a class="text-danger hidden-link" href="/admin/admins/{{ el.id }}/delete"><i
                            class='bx bx-trash'></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button type="button" class="btn btn-primary btn-add" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class='bx bx-folder-plus' style="font-size: 25px;"></i>
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Додати адміністратора</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input required name="username" type="text" class="form-control" id="floatingInput" name="title"
                            placeholder="text">
                        <label for="floatingInput">Ім'я користувача</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input required name="password" type="password" onfocus="this.type='text'"
                            onfocusout="this.type='password'" class="form-control" id="floatingInput" name="location"
                            placeholder="text">
                        <label for="floatingInput">Пароль</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input required name="name" type="text" class="form-control" id="floatingInput"
                            name="hourly_rate" placeholder="text">
                        <label for="floatingInput">Ім'я</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input required name="job_title" type="text" class="form-control" id="floatingInput"
                            name="hourly_rate" placeholder="text">
                        <label for="floatingInput">Посада</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input required name="email" type="email" class="form-control" id="floatingInput" name="salary"
                            placeholder="text">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Завантажте фото</label>
                        <input name="image" class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Відмінити</button>
                    <button type="submit" class="btn btn-primary">Додати</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}