{% extends 'admin_base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('admin.static',filename='css/vacancies.css') }}">
{% endblock %}

{% block body %}
<div class="vacancie-hero">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Назва</th>
                <th scope="col">Час</th>
                <th scope="col">Місце</th>
                <th scope="col">Оплата/год</th>
                <th scope="col">Зарплата</th>
                <th scope="col">Розклад</th>
                <th scope="col">Опис</th>
                <th scope="col">Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for el in data %}
            <tr>
                <th scope="row">{{ el.id }}</th>
                <td>{{ el.title }}</td>
                <td>{{ el.post_time }}</td>
                <td>{{ el.location }}</td>
                <td>{{ el.hourly_rate }}</td>
                <td>{{ el.salary }}</td>
                <td>{{ el.schedule }}</td>
                <td>
                    <div class="desc">{{ el.description|safe }}</div>
                </td>
                <td>
                    <div class="edit">
                        <a class="text-danger hidden-link" href="/admin/jobs/{{ el.id }}/delete"><i
                                class='bx bx-trash'></i></a>
                        {% if el.isAvalible == 1 %}
                        <a class="text-dark hidden-link" href="/admin/jobs/{{ el.id }}/hide"><i
                                class='bx bx-show'></i></a>
                        {% else %}
                        <a class="text-dark hidden-link" href="/admin/jobs/{{ el.id }}/hide"><i
                                class='bx bx-hide'></i></a>
                        {% endif %}
                        <a class="text-dark hidden-link" href="/admin/jobs/{{ el.id }}/edit"><i
                                class='bx bx-edit-alt'></i></a>
                        <a class="text-dark hidden-link" href="/jobs/{{ el.id }}" target="_blank"><i
                                class='bx bx-link-alt'></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" href="/admin/jobs/add" class="hidden-link btn btn-primary btn-add"><i class='bx bx-folder-plus'
            style="font-size: 25px;"></i></a>
    <!-- <button type="button" class="btn btn-primary btn-add" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class='bx bx-folder-plus' style="font-size: 25px;"></i>
    </button> -->
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Додати вакансію</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="title" placeholder="text">
                        <label for="floatingInput">Назва</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="location" placeholder="text">
                        <label for="floatingInput">Місце</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="hourly_rate"
                            placeholder="text">
                        <label for="floatingInput">Погодинна оплата</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="salary" placeholder="text">
                        <label for="floatingInput">Заробітня плата</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="schedule" placeholder="text">
                        <label for="floatingInput">Розклад</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="vac_id" placeholder="text">
                        <label for="floatingInput">ID Вакансії</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="apply_link" placeholder="text">
                        <label for="floatingInput">Google Форма для подачі заявки</label>
                    </div>
                    <textarea name="description" placeholder="Опис вакансії..."></textarea>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Завантажте фото</label>
                        <input name="img" class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Відмінити</button>
                    <button type="submit" class="btn btn-primary">Додати</button>
                </div>
            </div>
        </div>
    </form>
</div> -->

{% endblock %}