{% extends 'admin/admin_base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/admn/vacancies.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/admn/edit_vacancie.css') }}">
{% endblock %}

{% block body %}
<div class="vacancie-hero">
<form method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-sm-4">
            <img class="poster-img" id="poster" src="/vacancies/{{data.id}}/load_image" alt="">
            <div class="mb-3">
                <label for="formFile" class="form-label">Завантажте фото</label>
                <input name="img" class="form-control" type="file" id="formFile" onchange="previewFile()">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="title" value="{{data.title}}" placeholder="text">
                <label for="floatingInput">Назва</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="location" value="{{data.location}}" placeholder="text">
                <label for="floatingInput">Місце</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="hourly_rate" value="{{data.hourly_rate}}" placeholder="text">
                <label for="floatingInput">Погодинна оплата</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="salary" value="{{data.salary}}" placeholder="text">
                <label for="floatingInput">Заробітня плата</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="schedule" value="{{data.schedule}}" placeholder="text">
                <label for="floatingInput">Розклад</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="vac_id" value="{{data.vac_id}}" placeholder="text">
                <label for="floatingInput">ID Вакансії</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="apply_link" placeholder="text" value="{{data.apply_link}}">
                <label for="floatingInput">Google Форма для подачі заявки</label>
            </div>
        </div>
    </div>
    <textarea name="description" id="desc" rows="50" placeholder="Опис вакансії...">{{data.description}}</textarea>
    <button class="btn btn-primary btn-submit" type="submit">Зберегти</button>
</form>    
</div>

{% endblock %}

{% block script %}
<script>
    function previewFile() {
        var preview = document.querySelector('#poster');
        var file = document.querySelector('#formFile').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "/vacancies/{{data.id}}/load_image";
        }
    }
</script>
{% endblock %}