.policy {
  margin: 50px 10vw;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 400px;
}
