{% extends 'base.html' %}

{% block title %}Prostar - Contact{% endblock %}

{% block body %}
<!-- 
        =============================================
            Page Banner  Section
        ============================================== 
        -->
<section class="page-banner-wrap bg-contain bg-bottom d-flex align-items-center"
    style="background-image: url('../static/img/page_banner_bg.png')">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-banner">
                    <span>Contact us</span>
                    <h2>Get a Free Quote</h2>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /.page-banner-wrap -->

<!-- 
        =============================================
            Contact Info Section
        ============================================== 
        -->
<section class="contact-page-wrap section-padding">
    <div class="container contact-deatils">
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-contact-details">
                    <h3>Call Us</h3>
                    <p>+12 974 729 000</p>
                    <p>+12 888 729 600</p>
                </div>
            </div> <!-- /.col-lg-3 col-sm-6 -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-contact-details">
                    <h3>Address</h3>
                    <p>1216 mirpur dhaka <br>320 cumilla</p>
                </div>
            </div> <!-- /.col-lg-3 col-sm-6 -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-contact-details">
                    <h3>Skype id</h3>
                    <p>@userthemes</p>
                    <p>@monidatheme</p>
                </div>
            </div> <!-- /.col-lg-3 col-sm-6 -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-contact-details">
                    <h3>Email</h3>
                    <p>userthemes@gmail.com</p>
                    <p>info@modinathme.com</p>
                </div>
            </div> <!-- /.col-lg-3 col-sm-6 -->
        </div>
    </div>
</section> <!-- /.contact-page-wrap section-padding -->


<!-- 
        =============================================
           Google Map Section
        ============================================== 
        -->
<section class="google-map-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="gmap">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d629.6609098016813!2d33.4693152603235!3d48.02511068959569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dae196e3fde89b%3A0x23ca311a0d0aedde!2z0YPQuy4g0JLQsNGC0YPRgtC40L3QsCwgMTgsINCa0YDQuNCy0L7QuSDQoNC-0LMsINCU0L3QtdC_0YDQvtC_0LXRgtGA0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsCwgNTAwMDA!5e0!3m2!1sru!2suk!4v1678028663744!5m2!1sru!2suk"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /.google-map-wrap -->


<!-- 
        =============================================
            Contact Info Section
        ============================================== 
        -->
<section class="contact-form-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-12">
                <div class="contact-form-main wow animated fadeInUp" data-wow-duration="2s">
                    <form method="POST">
                        <div class="row">
                            <div class="form-group col-12  col-lg-4">
                                <input type="text" class="form-control" name="name" id="name"
                                    placeholder="Введіть Ваше ім'я">
                            </div>
                            <div class="form-group col-12  col-lg-4">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Введіть Ваш e-mail">
                            </div>
                            <div class="form-group col-12  col-lg-4">
                                <input type="text" class="form-control" name="title" id="subject"
                                    placeholder="Введіть тему повідомлення" value="{{question}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-md-12 col-sm-12 col-xl-12 message-box">
                                <textarea name="message" id="message" name="message"
                                    placeholder="Повідомлення"></textarea>
                            </div>
                        </div>
                        <div class="send-message mt-35 text-center">
                            <button type="submit" class="btn-send">Надіслати</button>
                        </div>
                        <span class="form-message"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /.contact-form-section -->

{% endblock %}