{% extends 'base.html' %}

{% block title %}Prostar - Home{% endblock %}


{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/master.css') }}">
{% endblock %}

{% block body %}

<div class="modal fade" id="socialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">Бажаєте дізнаватися про нові матеріали першими?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="socials">
                    <a target="_blank" href="https://www.facebook.com/prostar.kr"
                        class="theme_btn theme_btn_facebook"><i class="fab fa-facebook"></i>Facebook</a>
                    <a target="_blank" href="" class="theme_btn theme_btn_viber"><i class="fab fa-viber"></i>Viber</a>
                    <button class="theme_btn theme_btn_email" id="socialsEmailBtn" data-toggle="collapse"
                        data-target="#demo"><i class="fas fa-envelope-open"></i></i>Email</button>
                    <div id="demo" class="collapse">
                        <form method="post">
                            <div class="input-group">
                                <input type="email" name="socialsEmail" placeholder="Ваш email" aria-label="Ваш email"
                                    aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-send-email" type="submit" id="button-addon2"><i
                                            class="fas fa-arrow-alt-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="close-wrapper">
                    <a type="submit" class="text-muted" id="closeModal">Більше не показувати це вікно</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
        =============================================
            Hero Section
        ============================================== 
        -->
<section class="hero-slider-area">
    <div class="hero-slides owl-carousel">
        <div class="single-hero-slide gray-overlay bg-cover bg-top d-flex align-items-center"
            style="background-image: url('../static/img/slide/professional.png')">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span>PROSTAR ЦЕ</span>
                        <h1>ПРОФЕСІЙНІСТЬ</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta <br>sapiente, quo in
                            minus nostrum praesentium quidem.</p>
                        <a href="#" class="theme_btn get_start">Get details</a>
                    </div>
                </div>
            </div>
            <div class="slide-img d-none d-lg-block">
                <!-- <img src="{{ url_for('static',filename='img/man.png') }}" alt=""> -->
            </div>
        </div> <!-- /.single-hero-slide -->
        <div class="single-hero-slide gray-overlay bg-cover bg-top d-flex align-items-center"
            style="background-image: url('../static/img/slide/prospect.png')">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <span>PROSTAR ЦЕ</span>
                        <h1>ПЕРСПЕКТИВА</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta <br>sapiente, quo in
                            minus nostrum praesentium quidem.</p>
                        <a href="#" class="theme_btn get_start">Get details</a>
                    </div>
                </div>
            </div>
        </div> <!-- /.single-hero-slide -->
        <div class="single-hero-slide gray-overlay bg-cover bg-top d-flex align-items-center"
            style="background-image: url('../static/img/slide/prosperity.png')">
            <div class="container">
                <div class="row">
                    <div class="slide-img slide-img-left d-none d-lg-block">
                        <!-- <img src="{{ url_for('static',filename='img/man.png') }}" alt=""> -->
                    </div>
                    <div class="col-12 text-right">
                        <span>PROSTAR ЦЕ</span>
                        <h1>ПРОЦВІТАННЯ</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta <br>sapiente, quo in
                            minus nostrum praesentium quidem.</p>
                        <a href="#" class="theme_btn get_start">Get details</a>
                    </div>
                </div>
            </div>
        </div> <!-- /.single-hero-slide -->
    </div>
</section> <!-- /.hero section -->


<!-- 
        =============================================
            What We Do
        ============================================== 
        -->
<section class="what-we-do section-padding" id="whatwedo">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12 text-center">
                <div class="what-we-do-title">
                    <span>Про нас</span>
                    <h2>We build strong brands and grow businesses through branded services, <span>digital
                            storytelling.</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="single-we-do">
                    <img src="{{ url_for('static',filename='img/home/ship-building.png') }}" alt="">
                    <h3>Будівництво суден</h3>
                    <p>Монтажник корпусів металевих суден, Зварник корпусів металевих суден, Трубопрокладальник
                        судновий, Маляр-піскоструйник судновий, Оздоблювач судновий (монтажник підлоги, тесляр судновий,
                        плиточник судновий)</p>
                </div> <!-- /.single-we-do -->
            </div> <!-- /.col-lg-3 col-sm-6 -->
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="single-we-do">
                    <img src="{{ url_for('static',filename='img/home/building.png') }}" alt="">
                    <h3>Будівництво</h3>
                    <p>Бетонщик, опалубник, арматурник, Муляр, Монтажник покрівлі, Плиточник лицювальник, Монтажник
                        гіпсокартону, Маляр-штукатур, Монтажник залізобетонних конструкцій, Монтажник фасадів</p>
                </div> <!-- /.single-we-do -->
            </div> <!-- /.col-lg-3 col-sm-6 -->
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="single-we-do">
                    <img src="{{ url_for('static',filename='img/home/industry.png') }}" alt="">
                    <h3>Промисловість</h3>
                    <p>Сантехнік, Електромонтажник, Ізолювальник, Слюсар по ремонту технологічного обладнання, Монтажник
                        будівельних риштуваннь, Оператор ГНБ</p>
                </div> <!-- /.single-we-do -->
            </div> <!-- /.col-lg-3 col-sm-6 -->
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="single-we-do">
                    <img src="{{ url_for('static',filename='img/home/metal-structures.png') }}" alt="">
                    <h3>Металоконструкції</h3>
                    <p>Зварювальник металоконструкцій MIG/MAG/TIG, Складальник металоконструкцій, Монтажник
                        металоконструкцій та обладнання, Зварювальник трубопроводів MMA</p>
                </div> <!-- /.single-we-do -->
            </div> <!-- /.col-lg-3 col-sm-6 -->
        </div>

        <div class="what-we-do-button text-center">
            <a href="/vacancies" class="theme_btn">Вакансії</a>
            <a href="/contact" class="theme_btn btn_tb">Зв'язатися</a>
        </div>
    </div>
</section> <!-- /.what-we-do -->


<!-- 
        =============================================
            FQ Ask Section
        ============================================== 
        -->
<section class="fq-ask-wrap section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="fq-ask-banner">
                    <img src="{{ url_for('static',filename='img/fq-ask.jpg') }}" alt="fq-ask">
                </div>
            </div> <!-- /.col-lg-6 col-sm-12 -->
            <div class="col-lg-6 col-sm-12">
                <div class="theme-heading">
                    <span>Можливі Питання</span>
                    <h2>Запитання й <br>Відповіді</h2>
                </div>
                <div class="frequent-ask-accrodian">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Why We Best?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        There are many variations of passages of available but majority have alteration
                                        in
                                        some by inject humour or random words. Lorem ipsum dolor sit amet, error
                                        insolens
                                        reprimique.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Feature With Great Service
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                        brunch.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Great Qustion for our customer
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                        brunch.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.col-lg-6 col-sm-12 -->
        </div>
    </div>
</section> <!-- /.fq-ask-wrap -->


<!-- 
        =============================================
            Our Services
        ============================================== 
        -->
<section class="our-services pt-120 pb-80" id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service">
                    <div class="service-icon">
                        <svg class="icon-shape" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="72px" height="81px">
                            <path fill-rule="evenodd" fill="rgb(242, 243, 245)"
                                d="M0.814,60.751 L0.814,20.254 L36.005,0.005 L71.195,20.254 L71.195,60.751 L36.005,81.000 L0.814,60.751 Z" />
                        </svg>
                        <div class="service-shape-icon">
                            <img src="{{ url_for('static',filename='img/icons/building.png') }}" alt="">
                        </div>
                    </div>
                    <h3>Design build</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim venia</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col-lg-4 col-md-6 col-sm-12 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service">
                    <div class="service-icon">
                        <svg class="icon-shape" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="72px" height="81px">
                            <path fill-rule="evenodd" fill="rgb(242, 243, 245)"
                                d="M0.814,60.751 L0.814,20.254 L36.005,0.005 L71.195,20.254 L71.195,60.751 L36.005,81.000 L0.814,60.751 Z" />
                        </svg>
                        <div class="service-shape-icon">
                            <img src="{{ url_for('static',filename='img/icons/cap.png') }}" alt="">
                        </div>
                    </div>
                    <h3>General Construction</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim venia</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col-lg-4 col-md-6 col-sm-12 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service">
                    <div class="service-icon">
                        <svg class="icon-shape" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="72px" height="81px">
                            <path fill-rule="evenodd" fill="rgb(242, 243, 245)"
                                d="M0.814,60.751 L0.814,20.254 L36.005,0.005 L71.195,20.254 L71.195,60.751 L36.005,81.000 L0.814,60.751 Z" />
                        </svg>
                        <div class="service-shape-icon">
                            <img src="{{ url_for('static',filename='img/icons/carry.png') }}" alt="">
                        </div>
                    </div>
                    <h3>Floors & Roofs</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim venia</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col-lg-4 col-md-6 col-sm-12 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service">
                    <div class="service-icon">
                        <svg class="icon-shape" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="72px" height="81px">
                            <path fill-rule="evenodd" fill="rgb(242, 243, 245)"
                                d="M0.814,60.751 L0.814,20.254 L36.005,0.005 L71.195,20.254 L71.195,60.751 L36.005,81.000 L0.814,60.751 Z" />
                        </svg>
                        <div class="service-shape-icon">
                            <img src="{{ url_for('static',filename='img/icons/motor.png') }}" alt="">
                        </div>
                    </div>
                    <h3>Building Construction</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim venia</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col-lg-4 col-md-6 col-sm-12 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service">
                    <div class="service-icon">
                        <svg class="icon-shape" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="72px" height="81px">
                            <path fill-rule="evenodd" fill="rgb(242, 243, 245)"
                                d="M0.814,60.751 L0.814,20.254 L36.005,0.005 L71.195,20.254 L71.195,60.751 L36.005,81.000 L0.814,60.751 Z" />
                        </svg>
                        <div class="service-shape-icon">
                            <img src="{{ url_for('static',filename='img/icons/wheel.png') }}" alt="">
                        </div>
                    </div>
                    <h3>Rooms & Halls</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim venia</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col-lg-4 col-md-6 col-sm-12 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-service">
                    <div class="service-icon">
                        <svg class="icon-shape" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="72px" height="81px">
                            <path fill-rule="evenodd" fill="rgb(242, 243, 245)"
                                d="M0.814,60.751 L0.814,20.254 L36.005,0.005 L71.195,20.254 L71.195,60.751 L36.005,81.000 L0.814,60.751 Z" />
                        </svg>
                        <div class="service-shape-icon">
                            <img src="{{ url_for('static',filename='img/icons/dil.png') }}" alt="">
                        </div>
                    </div>
                    <h3>Architecture Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim venia</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col-lg-4 col-md-6 col-sm-12 -->
        </div>
    </div>
</section> <!-- /.our-services -->


<!-- 
        =============================================
            Call To Action Section
        ============================================== 
        -->
<section class="call-to-action-wrap section-padding text-white bg-cover bg-bottom"
    style="background-image: url('../static/img/call_action_bg.jpg')">
    <div class="container">
        <div class="col-md-12 col-lg-8 offset-lg-2 text-center">
            <div class="call-to-action">
                <h2>Шукаєте нову роботу? </h2>
                <p>Prostar має ідеальний варіант для вас! У нас є можливості працевлаштування в Литві, Європі та по
                    всьому світу. Подайте заявку зараз і не забудьте отримати наші останні пропозиції.</p>
                <a href="/vacancies" class="theme_btn call-action-btn">Знайти роботу</a>
            </div>
        </div>
    </div>
</section>


<br>
<hr>
<br>
{% endblock %}

{% block script %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

<script>
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    $(document).ready(function () {
        let cookie = getCookie('loadmodal')
        if (!cookie) {
            setTimeout(function () {
                $('#socialModal').modal('show')
                $('#sticky-nav').css('z-index', '999')
            }, 7000)
        }

    });

    $('#closeModal').click(function () {
        $("#socialModal").modal('hide')
        document.cookie = "loadmodal=False; expires=; path=/"
        setTimeout(function () { $('#sticky-nav').css('z-index', '99999999') }, 350)
    })
</script>
{% endblock %}




<!-- 
        =============================================
            Portoflio Section
        ============================================== 
        -->
<!-- <section class="our-portfolio portfolio-carosuel-wrap" id="portfolio">
            <div class="portfolio-carousel-items owl-carousel">
                <div class="single-portofolio bg-cover text-white" style="background-image: url('../static/img/portfolio/p1.jpg')">
                    <div class="portfolio-content">
                        <h3>Working in new case</h3>
                        <p>Excepteur sint occ aecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                        <div class="portfolio-cat">
                            <span>Building</span>
                        </div>
                        <a href="single-portfolio.html" class="read-more-port">READ MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="single-portofolio bg-cover text-white" style="background-image: url('../static/img/portfolio/p2.jpg')">
                    <div class="portfolio-content">
                        <h3>Working in new case</h3>
                        <p>Excepteur sint occ aecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                        <div class="portfolio-cat">
                            <span>Building</span>
                        </div>
                        <a href="single-portfolio.html" class="read-more-port">READ MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="single-portofolio bg-cover text-white" style="background-image: url('../static/img/portfolio/p3.jpg')">
                    <div class="portfolio-content">
                        <h3>Working in new case</h3>
                        <p>Excepteur sint occ aecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                        <div class="portfolio-cat">
                            <span>Building</span>
                        </div>
                        <a href="single-portfolio.html" class="read-more-port">READ MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="single-portofolio bg-cover text-white" style="background-image: url('../static/img/portfolio/p5.jpg')">
                    <div class="portfolio-content">
                        <h3>Working in new case</h3>
                        <p>Excepteur sint occ aecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                        <div class="portfolio-cat">
                            <span>Building</span>
                        </div>
                        <a href="single-portfolio.html" class="read-more-port">READ MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="single-portofolio bg-cover text-white" style="background-image: url('../static/img/portfolio/p4.jpg')">
                    <div class="portfolio-content">
                        <h3>Working in new case</h3>
                        <p>Excepteur sint occ aecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                        <div class="portfolio-cat">
                            <span>Building</span>
                        </div>
                        <a href="single-portfolio.html" class="read-more-port">READ MORE <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section> -->


<!-- 
        =============================================
            Blog Section
        ============================================== 
        -->
<!-- <section class="blog-wrapper blog-one section-padding" id="news">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="theme-heading">
                            <span>BLOG UPDATES</span>
                            <h2>News & Blogs</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="blog-carousel-items owl-carousel owl-theme">
                        <div class="single-blog-box">
                            <div class="blog-feature-img" style="background-image: url('../static/img/blog1.jpg')"></div>
                            <div class="blog-box-content">
                                <div class="post-date">
                                    <span>19</span>
                                    <span>Oct</span>
                                </div>
                                <div class="post-cats">
                                    <span>Staff</span>
                                    <span>Startup</span>
                                    <span>Work</span>
                                </div>
                                <h3><a href="#">Design to next level</a></h3>
                                <p>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>

                                <a href="#" class="read-more"><i class="fas fa-caret-right"></i>read more</a>
                            </div>
                        </div>
                        <div class="single-blog-box">
                            <div class="blog-feature-img" style="background-image: url('../static/img/blog2.jpg')"></div>
                            <div class="blog-box-content">
                                <div class="post-date">
                                    <span>10</span>
                                    <span>Oct</span>
                                </div>
                                <div class="post-cats">
                                    <span>Staff</span>
                                    <span>Startup</span>
                                    <span>Work</span>
                                </div>
                                <h3><a href="#">Build to your dream</a></h3>
                                <p>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>

                                <a href="#" class="read-more"><i class="fas fa-caret-right"></i>read more</a>
                            </div>
                        </div>
                        <div class="single-blog-box">
                            <div class="blog-feature-img" style="background-image: url('../static/img/blog3.jpg')"></div>
                            <div class="blog-box-content">
                                <div class="post-date">
                                    <span>08</span>
                                    <span>Oct</span>
                                </div>
                                <div class="post-cats">
                                    <span>Staff</span>
                                    <span>Startup</span>
                                    <span>Work</span>
                                </div>
                                <h3><a href="#">Build to next level</a></h3>
                                <p>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>

                                <a href="#" class="read-more"><i class="fas fa-caret-right"></i>read more</a>
                            </div>
                        </div>
                        <div class="single-blog-box">
                            <div class="blog-feature-img" style="background-image: url('../static/img/blog1.jpg')"></div>
                            <div class="blog-box-content">
                                <div class="post-date">
                                    <span>19</span>
                                    <span>Oct</span>
                                </div>
                                <div class="post-cats">
                                    <span>Staff</span>
                                    <span>Startup</span>
                                    <span>Work</span>
                                </div>
                                <h3><a href="#">Design to next level</a></h3>
                                <p>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>

                                <a href="#" class="read-more"><i class="fas fa-caret-right"></i>read more</a>
                            </div>
                        </div>
                        <div class="single-blog-box">
                            <div class="blog-feature-img" style="background-image: url('../static/img/blog2.jpg')"></div>
                            <div class="blog-box-content">
                                <div class="post-date">
                                    <span>27</span>
                                    <span>Oct</span>
                                </div>
                                <div class="post-cats">
                                    <span>Staff</span>
                                    <span>Startup</span>
                                    <span>Work</span>
                                </div>
                                <h3><a href="#">Build to next level</a></h3>
                                <p>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>

                                <a href="#" class="read-more"><i class="fas fa-caret-right"></i>read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->