{% extends 'base.html' %}

{% block title %}Prostar - Vacancies{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/vacancies.css') }}">
{% endblock %}

{% block body %}

        <!--         
        =============================================
            Page Banner  Section
        ============================================== 
        -->
        <section class="page-banner-wrap bg-contain bg-bottom d-flex align-items-center" style="background-image: url('../static/img/page_banner_bg.png')">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="page-banner">
                            <span>Recent project showcase</span>
                            <h2>Вакансії</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- /.page-banner-wrap -->


        <!-- 
        =============================================
            Portoflio Section
        ============================================== 
        -->
        <section class="our-portfolio section_bg portfolio-two section-padding">
            <div class="vacancies-wrapper">
                {% for el in data %}
                {% if el.isAvalible == True %}
                    <div class="vacancie" onclick="location.href='/vacancies/{{el.id}}'">
                        <div class="information">
                            <div class="title">
                                <h3 class="title-text">{{el.title}}</h3>
                            </div>
                            <div class="details">
                                <p class="details-text"><i class="fas fa-map-marked"></i> {{el.location}}</p>
                                <p class="details-text"><i class="fas fa-coins"></i> {{el.hourly_rate}}</p>
                                <p class="details-text"><i class="fas fa-money-bill-wave"></i> {{el.salary}}</p>
                            </div>
                        </div>
                        <div class="go-btn-div">
                            <p class="date-text"><i class="fas fa-calendar-alt"></i> {{el.post_time}}</p>
                            <a class="btn btn-go" href="/vacancies/{{el.id}}">Детальніше</a>
                        </div>
                    </div>

                {% endif %}
                {% endfor %}
            </div>
        </section>

        {% endblock %}